@model IEnumerable<IdentityUser>


@{
    ViewBag.Title = "All Users";
}

<style>
    body {
        background-color: #fafafa;
    }

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        padding: 20px;
        border-top: #e6e6e6 2px solid;
        border-right: #e6e6e6 2px solid;
        margin-top: 56px;
    }

        .sidenav a {
            padding: 2px 0px 2px 0px;
            text-decoration: none;
            font-size: 15px;
            color: black;
            display: block;
        }

            .sidenav a.active {
                /* Add a green color to the "active/current" link */
                color: #35b3a2;
            }

            .sidenav a:hover {
                color: #0094ff;
            }

    .main {
        margin-left: 100px; /* Same as the width of the sidenav */
    }

    .us {
        margin-left: 800px;
        margin-top: 10px;
    }

    .ad {
        padding: 5px 15px 5px 15px;
        color: #35b3a2;
        border: 1px solid #35b3a2;
    }
</style>




<div class="sidenav">
    <p>User Management</p>
    <hr>
    <a asp-controller="administration" asp-action="ListUsers" class="active">Users</a>
    <a asp-controller="application" asp-action="users">Emloyees</a>
    <a asp-controller="application" asp-action="settings">Settings</a>
</div>

<div class="main">

    @if (Model.Any())
    {
        <div class="row">
            <h3>Users</h3>
            <p class="us">

                <a asp-action="Register" asp-controller="Account" class="ad" style="width:auto">Add user </a>
            </p>
        </div>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        User ID
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <tr>                  
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            <a asp-action="EditUser" asp-controller="Administration"
                               asp-route-id="@user.Id" >Edit</a>
                        </td>
                        <td>
                            <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete user : @user.UserName')">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>




    }
    else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="mbtn" style="width:auto"
                   asp-controller="Account" asp-action="Register">
                    Add new user
                </a>
            </div>
        </div>
    }
    </div>
